* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 20px;
background-color: #8b5cf6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  z-index: 9;
  transition: all 0.2s ease;
  box-shadow: 0 0 10px crimson;
}

button:hover {
  background-color: rgb(255, 30, 75);
}

button:active {
  scale: (0.95);
}

h1 {
  white-space: nowrap;
}
